<h1><%= t ".page_help" %></h1>
<p>
  <%= t ".get_help" %>
  <a href="http://www.railstutorial.org/help"><%= t ".rails_help" %></a>.
  <%= t ".to_get" %>
  <a href="http://www.railstutorial.org/book"><em><%= t "ruby" %></em>
  book</a>.
</p>
