<div class="center jumbotron">
  <h1><%= t ".Welcome" %></h1>

  <h2>
    <%= t ".this_home" %>
    <a href="http://www.railstutorial.org/"><%= t "ruby" %></a>
    <%= t ".sample" %>
  </h2>

  <%= link_to t("sign_up"), "#", class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: t("Rails_logo")), "http://rubyonrails.org/" %>
